*.pyc
.idea
*.egg-info

INSTALL_self

*checkpoint.ipynb
pycdft_outputs
qb_cdft.*
*.out
gs.xml
wfc.xml
*.cube
__pycache__

bin/
build/
dist/
lib/

doxygen/

sphinx/west-doc/
sphinx/docify_self.sh
doc/docify_self.sh

