*.pyc
.idea
*.egg-info

INSTALL_self

*checkpoint.ipynb
pycdft_outputs
qb_cdft.*
*.out
gs.xml
wfc.xml
*.cube
__pycache__

bin/
build/
dist/
lib/

doxygen/latex
doyxgen/uml

sphinx/west-doc/
sphinx/build/

examples/he2force
